<!--
 * @Company: Ling Xun
 * @Author: Song
 * @Date: 2019-09-09 09:20:33
 * @LastEditTime: 2019-09-09 10:11:57
 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>商品详情</title>
        <link rel="stylesheet" href="../static/css/reset.css" />
        <link rel="stylesheet" href="../static/css/comment.css" />
        <script src="../static/js/comment.js"></script>
        <style></style>
    </head>
    <body>
        <script></script>
    </body>
</html>
